{% extends 'base.html.twig' %}

{% block main %}

    {# Le formview permet d'afficher les données reçues #}
    <section class="formulaire">
        {{ form(articleFormView) }}
    </section>

{% endblock %}