{% extends 'base.html.twig' %}

{% block main %}

    {# Page d'accueil du site, liée au fichier de base pour avoir une uniformité sur toutes les pages #}
    <div class="container">
        <div class="row">
            <h1 class="my-5 d-flex justify-content-center">Page d'accueil</h1>
        </div>
    </div>

{% endblock main %}