{% extends 'base.html.twig' %}

{% block main %}

    {# Page d'accueil du site, liée au fichier de base pour avoir une uniformité sur toutes les pages #}
    <h1>Page d'accueil</h1>

{% endblock main %}