{% extends 'base.html.twig' %}

{% block main %}

    <section class="articles-container">

        <article class="article">

            {# On va récupérer le titre de l'article pour l'afficher #}
            <p>Votre article {{ article.title }} a bien été inséré en base de données</p>
        </article>

    </section>

{% endblock %}