{% extends 'base.html.twig' %}

{% block main %}

    <section class="articles-container">

        <article class="article">
            <p>Votre article a bien été inséré en base de données</p>
        </article>

    </section>

{% endblock %}