{% extends 'base.html.twig' %}

{% block main %}

    <section class="articles-container">

        {% if articles | length > 0 %}
            {% for article in articles %}
                <article class="article">
                    {% if article.category %}
                        <h2>{{ article.category.title }}</h2>
                    {% endif %}

                    <a href="{{ path('show_article', {'id': article.id}) }}">
                        <h1>{{article.title}}</h1>
                    </a>
                    <p>{{ article.content }}</p>
                </article>
            {% endfor %}
        {% else %}
            <p>Aucun article trouvé pour ce contenu</p>
        {% endif %}
    </section>

{% endblock main %}